*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
/core/ui/build/
/library/network/build/
/.kotlin/
debug.secrets.properties
release.secrets.properties
/app/google-services.json
key
key.secrets.properties
